# Pandas

Provides powerful and flexible data structures and tools for data manipulation and analysis. It is one of the most widely used libraries for data manipulation and analysis in the Python ecosystem. Pandas is built on top of NumPy, another popular numerical computing library, and extends its capabilities by introducing two primary data structures: Series and DataFrame.

In [2]:
import pandas as pd

In [3]:
#pd.read_csv("path", index_col = 0)

### Creating a data frame from a dictionary

In [4]:
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]

my_dict = {}
my_dict['country']=names
my_dict['drives_right']=dr
my_dict['cars_per_cap']=cpc

cars = pd.DataFrame(my_dict)
print(cars)

         country  drives_right  cars_per_cap
0  United States          True           809
1      Australia         False           731
2          Japan         False           588
3          India         False            18
4         Russia          True           200
5        Morocco          True            70
6          Egypt          True            45

### Adding labels

In [4]:
row_labels = ['US', 'AUS', 'JPN', 'IN', 'RU', 'MOR', 'EG']
cars.index = row_labels
print(cars)

           country  drives_right  cars_per_cap
US   United States          True           809
AUS      Australia         False           731
JPN          Japan         False           588
IN           India         False            18
RU          Russia          True           200
MOR        Morocco          True            70
EG           Egypt          True            45

### Selecting

In [6]:
cars["country"]

US     United States
AUS        Australia
JPN            Japan
IN             India
RU            Russia
MOR          Morocco
EG             Egypt
Name: country, dtype: object

In [7]:
type(cars["country"])

pandas.core.series.Series

In [9]:
cars[["country"]]

           country
US   United States
AUS      Australia
JPN          Japan
IN           India
RU          Russia
MOR        Morocco
EG           Egypt

In [10]:
cars[1:3]

       country  drives_right  cars_per_cap
AUS  Australia         False           731
JPN      Japan         False           588

In [11]:
cars.loc["US"]

country         United States
drives_right             True
cars_per_cap              809
Name: US, dtype: object

In [14]:
cars.loc[["US","AUS"]]

           country  drives_right  cars_per_cap
US   United States          True           809
AUS      Australia         False           731

In [18]:
cars.loc[:, ['country','cars_per_cap']]

           country  cars_per_cap
US   United States           809
AUS      Australia           731
JPN          Japan           588
IN           India            18
RU          Russia           200
MOR        Morocco            70
EG           Egypt            45

In [24]:
cars.iloc[:,[0,2]]

           country  cars_per_cap
US   United States           809
AUS      Australia           731
JPN          Japan           588
IN           India            18
RU          Russia           200
MOR        Morocco            70
EG           Egypt            45

### Filtering

In [14]:
is_high = cars["cars_per_cap"] > 500
cars[is_high]

         country  drives_right  cars_per_cap
0  United States          True           809
1      Australia         False           731
2          Japan         False           588

In [12]:
import numpy as np
cars_bool = np.logical_and(cars["cars_per_cap"] > 500,cars["cars_per_cap"] < 800)
cars[cars_bool]

     country  drives_right  cars_per_cap
1  Australia         False           731
2      Japan         False           588