# Data Manipulation

* Pandas is built on top pf two essential Python packages, NumPy and Matplotlib. NumPy pfovides multidimensional array objects for easy data manipulation that pandas uses to store data, and Matplotlib has powerful data visualization capabilities that pandas takes advantage of.

In [1]:
import pandas as pd

In [12]:
path = r"C:\Users\Gabriella\Documents\GitHub\Pandas-in-Python\database.xlsx"

data = pd.read_excel(path)
data.head()

       name          breed  color  height_cm  weight_kg  age
0    Paçoca       Labrador  Brown         56         25    5
1       Ivo         Poodle  Black         43         22    4
2      Lola      Schnauzer   Gray         49         23    4
3  Maracatu  King Cavalier  Brown         43         21    3
4   Chantal       Labrador  Black         59         29    6

### Here are a few basic commands to check the data

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       5 non-null      object
 1   breed      5 non-null      object
 2   color      5 non-null      object
 3   height_cm  5 non-null      int64
 4   weight_kg  5 non-null      int64
 5   age        5 non-null      int64
dtypes: int64(3), object(3)
memory usage: 368.0+ bytes

In [14]:
data.shape

(5, 6)

In [15]:
data.describe()

       height_cm  weight_kg       age
count   5.000000   5.000000  5.000000
mean   50.000000  24.000000  4.400000
std     7.348469   3.162278  1.140175
min    43.000000  21.000000  3.000000
25%    43.000000  22.000000  4.000000
50%    49.000000  23.000000  4.000000
75%    56.000000  25.000000  5.000000
max    59.000000  29.000000  6.000000

In [16]:
data.values

array([['Paçoca', 'Labrador', 'Brown', 56, 25, 5],
       ['Ivo', 'Poodle', 'Black', 43, 22, 4],
       ['Lola', 'Schnauzer', 'Gray', 49, 23, 4],
       ['Maracatu', 'King Cavalier', 'Brown', 43, 21, 3],
       ['Chantal', 'Labrador', 'Black', 59, 29, 6]], dtype=object)

In [17]:
data.columns

Index(['name', 'breed', 'color', 'height_cm', 'weight_kg', 'age'], dtype='object')

In [18]:
data.index

RangeIndex(start=0, stop=5, step=1)

### Sorting and Subsetting